<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/assets/admin/css/style.css">
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%>">
    
    <%- include('../common/header.html') %>

    <div class="main-container">
        <div class="side-menu">
            <%- include('../common/sider.html') %>
        </div>

        <div class="content-widget">
            <div class="app-header">
                <div class="title">编辑分类</div>
            </div>

            <form class="ajax-form" action="/v1/categories/<%- category.id %>" method="post">
                <div class="form-row">
                    <label for="input-name">分类名称</label>
                    <input type="text" class="form-control" name="title" value="<%- category.title %>">
                </div>

                <div class="form-row">
                    <label for="input-name">父级分类</label>
                    <select class="form-control" name="parent_id">
                        <option value="0">顶级分类</option>
                        <%- options %>
                    </select>
                </div>

                <div class="form-row">
                    <label for="input-description">简介</label>
                    <textarea class="form-control" name="description" rows="3"><%- category.description%></textarea>
                </div>

                <div class="form-row">
                    <label>缩略图上传</label>
                    <div class="thumbnail-uploader">
                        <div class="button-group">
                            <button type="button" class="upload-button btn btn-sm btn-primary">上传</button>
                            <button type="button" class="delete-button btn btn-sm btn-danger">删除</button>
                        </div>
                        <div class="thumbnail-image">
                            <% if(category.thumbnail){ %> <img src="<%-category.thumbnail%>"> <%}%>
                        </div>
                        <input type="hidden" name="thumbnail_id" value="<%- category.thumbnail_id %>">
                    </div>
                </div>

                <div class="form-row">
                    <label for="input-name">序号</label>
                    <input type="text" class="form-control" name="list_order" value="<%- category.list_order%>">
                </div>

                <div class="form-row">
                    <label for="input-name">模板</label>
                    <div class="form-widget">
                        <label>
                            <input type="radio" name="template" value="articles" <%-htmlUtil.isChecked('articles', category.template)%> >
                            文章列表
                        </label>
                        <label>
                            <input type="radio" name="template" value="images" <%-htmlUtil.isChecked('images', category.template)%> >
                            图片列表
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <label>状态</label>
                    <div class="form-widget">
                        <label>
                            <input type="radio" name="is_show" value="1"
                                <% if(category.is_show==1){ %>checked="checked" <% } %>
                                > 显示
                        </label>
                        <label>
                            <input type="radio" name="is_show" value="0"
                                <% if(category.is_show==0){ %>checked="checked" <% } %>
                                > 隐藏
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <input type="hidden" name="id" value="<%- category.id %>">
                    <input type="hidden" name="_method" value="put">
                    <button type="button" class="btn btn-primary ajax-submit">提交</button>
                </div>
            </form>
       
        </div>
    </div>

    
    <script type="module">
    import utils from '/assets/admin/js/src/utils.js';
    import lightTip from '/assets/admin/lib/ui/light-tip.js';
    import fetchWrapper from '/assets/admin/js/src/fetch-wrapper.js';

    var button = document.querySelector('.ajax-submit');
    if(button){
        button.addEventListener('click', async function (e){
            e.preventDefault();

            let form = document.querySelector(".ajax-form");
            let formData = new FormData(form);
            let json = utils.formDataToJson(formData);
            json.thumbnail_id = parseInt(json.thumbnail_id);
            json.meta = {template: document.querySelector('input[name="template"]:checked').value };

            try {
                let payload = JSON.stringify(json);
                let jsonHeaders = new Headers({ 'Content-Type': 'application/json' });
                let url = form.action;
                let response = await fetchWrapper(url, {
                    method: 'PUT',
                    headers: jsonHeaders,
                    body: payload
                });

                if(response.status == 200){
                    lightTip.success('修改成功');
                } else {
                    let responseJson = await response.json();
                    console.log('responseJson ', responseJson)
                    lightTip.error(responseJson.error);
                }
            } catch(e) {
                lightTip.error(e.message);
            }

            
        });
    }
    </script>


    <%- include('../common/footer.html') %>
</body>
</html>


