
<header>
    <div class="container-left">
        <a href="/admin/index">BoarCMS</a>
        <!-- <a href="/admin/index"><img src=""></a> -->
    </div>
    <div class="container-middle">

    </div>
    <div class="container-right">
        <a class="nav-button night-mode-button <%- darkMode==1 ? 'sun-icon' : '' %>">
            <i class="iconfont night-mode">&#xe804;</i>
            <i class="iconfont daytime-mode">&#xe7ff;</i>
        </a>
        <a class="nav-button" href="/" target="_blank">
            <i class="iconfont">&#xe89a;</i>
        </a>
        <a class="nav-button red " href="javascript:;">
            <i class="iconfont">&#xe7c0;</i>
        </a>
        <a class="avatar" href="javascript:;">
            <img src="/assets/admin/images/avatar.jpg">
        </a>
    </div>
</header>
