<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/assets/admin/css/style.css">
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%>">
    
    <%- include('../common/header.html') %>

    <div class="main-container">
        <div class="side-menu">
            <%- include('../common/sider.html') %>
        </div>

        <div class="content-widget">
            <div class="app-header">
                <div class="title">新建页面</div>
            </div>
            
            <form class="ajax-form" action="/v1/pages" method="post">
                <div class="form-row">
                    <label for="input-name">标题</label>
                    <input type="text" class="form-control" name="title" value="">
                </div>

                <div class="form-row">
                    <label for="input-description">简介</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                </div>

                <div class="form-row">
                    <label>缩略图上传</label>
                    <div class="thumbnail-uploader">
                        <div class="button-group">
                            <button type="button" class="upload-button btn btn-sm btn-primary">上传</button>
                            <button type="button" class="delete-button btn btn-sm btn-danger">删除</button>
                        </div>
                        <div class="thumbnail-image"></div>
                        <input type="hidden" name="thumbnail_id" value="">
                    </div>
                </div>

                <div class="form-row">
                    <label for="input-description">内容</label>
                    <div class="editor-container">
                        <textarea name="content" style="display:none;"></textarea>
                        <div id="editor"></div>
                    </div>
                </div>

                <div class="form-row">
                    <label for="template">模板</label>
                    <input type="text" class="form-control" name="template" value="<% %>">
                </div>

                <div class="form-row">
                    <label for="route_url">别名</label>
                    <input type="text" class="form-control" name="route_url" value="<% %>">
                </div>

                <div class="form-row">
                    <label for="input-name">状态</label>
                    <div class="form-check">
                        <input type="radio" name="is_show" id="is_show1" value="1">
                        <label for="is_show1">显示</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="is_show" id="is_show2" value="0" checked="checked">
                        <label for="is_show2">隐藏</label>
                    </div>
                </div>

                <div class="form-row">
                    <!-- <input type="hidden" name="id" value=""> -->
                    <!-- <input type="hidden" name="_method" value="put"> -->
                    <button type="button" 
                        class="btn btn-primary btn-create"
                        data-redirect-url="/admin/articles/:id/edit">
                        提交
                    </button>
                </div>
            </form>
        
        </div>
    </div>


    <script type="module">
    import utils from '/assets/admin/js/src/utils.js';
    import LightTip from '/assets/admin/lib/ui/light-tip.js';
    import fetchWrapper from '/assets/admin/js/src/fetch-wrapper.js';

    var button = document.querySelector('.btn-create');
    if(button){
        button.addEventListener('click', async function (e){
            e.preventDefault();

            let form = document.querySelector(".ajax-form");
            let formData = new FormData(form);
            let categories = formData.getAll('categories').toString();
            formData.set("categories", categories);
            let json = utils.formDataToJson(formData);
            let payload = JSON.stringify(json);

            let url = form.action;
            let jsonHeaders = new Headers({'Content-Type': 'application/json'});

            let response = await fetchWrapper(url, {
                method: 'POST',
                headers: jsonHeaders,
                body: payload
            });
            if(response.status == 201){
                let page = await response.json();
                location.href = '/admin/pages/' + page.id + '/edit';
            } else {
                let responseJson = await response.json();
                let message = responseJson.error ? responseJson.error : '添加失败';
                toast.open({title: message});
            }
        });
    }
    </script>

    <%- include('../common/footer.html') %>
</body>
</html>
