<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/assets/admin/css/style.css">
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%>">
    
    <%- include('../common/header.html') %>

    <div class="main-container">
        <div class="side-menu">
            <%- include('../common/sider.html') %>
        </div>

        <div class="content-widget">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home">站点设置</a></li>
                <li class=""><a href="#profile">顶部设置</a></li>
                <li class=""><a href="#profile">底部设置</a></li>
                <li class=""><a href="#profile">SMTP设置</a></li>
            </ul>

            <div class="app-header">
                <div class="title">站点设置</div>
            </div>

            <form class="ajax-form" action="/v1/site/option" method="post">
                <div class="form-row">
                    <label>站点 Logo</label>
                    <input type="text" class="form-control" name="site_logo" value="<%= site.site_logo %>">
                </div>
                <div class="form-row">
                    <label>站点标题</label>
                    <input type="text" class="form-control" name="site_title" value="<%= site.site_title %>">
                </div>
                <div class="form-row">
                    <label>站点关键词</label>
                    <input type="text" class="form-control" name="site_keyword" value="<%= site.site_keyword %>">
                </div>
                <div class="form-row">
                    <label>站点描述</label>
                    <textarea class="form-control" name="site_description" rows="3"><%= site.site_description %></textarea>
                </div>

                <div class="form-row">
                    <label>底部版权</label>
                    <textarea class="form-control" name="copyright" rows="8"><%= site.copyright %></textarea>
                </div>

                <% /* %>
                <div class="form-row">
                    <label>开放注册</label>
                    <div class="form-widget">
                        <label>
                            <input type="radio" name="registration_is_open" value="1" <%= site.registration_is_open==1 ? 'checked="checked"' : ''%> > 开启
                        </label>
                        <label>
                            <input type="radio" name="registration_is_open" value="0" <%= site.registration_is_open==0 ? 'checked="checked"' : ''%> > 关闭
                        </label>
                    </div>
                </div>
                <% */ %>

                <div class="form-row">
                    <input type="hidden" name="_method" value="put">
                    <button type="submit" class="btn btn-primary ajax-submit">提交</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('../common/footer.html') %>

    <script type="module">
    import utils from '/assets/admin/js/src/utils.js';
    import lightTip from '/assets/admin/lib/ui/light-tip.js';
    import fetchWrapper from '/assets/admin/js/src/fetch-wrapper.js';

    var button = document.querySelector('.ajax-submit');
    button?.addEventListener('click', async function (e){
        e.preventDefault();

        let form = document.querySelector(".ajax-form");
        let formData = new FormData(form);
        formData.set('content', "测试");

        let json = utils.formDataToJson(formData);
        
        let data = {};
        data.option_name = 'site_option';
        data.option_value = JSON.stringify(json);

        let jsonHeaders = new Headers({ 'Content-Type': 'application/json' });
        let url = form.action;
        
        try{
            let res = await fetchWrapper(url, {
                method: 'POST',
                headers: jsonHeaders,
                body: JSON.stringify(data)
            });
            let responseJson = await res.json();
            console.log('responseJson ', responseJson);
            if(res.status == 200){
                lightTip.success('修改成功');
            } else {
                lightTip.error(responseJson.error);
            }
        }catch(e){
            lightTip.error(e.message);
        }
    });
    
    </script>
</body>
</html>

