
header {
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  z-index: 1;
  border-bottom: 1px solid var(--vt-shadow-color);
  display: flex;
  justify-content: space-between;
  background-color: var(--vt-bg-color-card);
}

.container-left {
  height: 50px;
  display: flex;
  align-items: center;
}
.container-left a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.container-left a img {
  height: 30px;
}

.container-right {
  display: flex;
  width: auto;
  height: 50px;
}
.container-right a.nav-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
.container-right a.nav-button i {
  font-size: 25px;
}
.container-right a.night-mode-button .night-mode {
  display: block;
}
.container-right a.night-mode-button .daytime-mode {
  display: none;
}
.container-right a.night-mode-button.sun-icon .night-mode {
  display: none;
}
.container-right a.night-mode-button.sun-icon .daytime-mode {
  display: block;
}
.container-right a.avatar {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-right a.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

@media only screen and (min-width: 900px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
}
