@charset "UTF-8";
/* 左侧内容 */
.side-menu ul {
  padding-left: 0px;
}

.side-menu::-webkit-scrollbar,
.side-menu ul::-webkit-scrollbar {
  display: none;
}

.side-menu ul.nav-list {
  overflow-y: scroll;
  color: #a6a6c2;
  font-size: 14px;
  display: block;
  height: 100%;
  margin: 0;
}

ul.nav-list li {
  min-height: 38px;
  line-height: 38px;
}

ul.nav-list li a {
  color: var(--vt-text-color);
  font-size: 14px;
  display: block;
}

ul.nav-list li i {
  font-size: 20px;
  top: 2px;
  margin-right: 5px;
}

ul.nav-list li i.arrow {
  float: right;
  margin-right: 10px;
}

ul.nav-list li.active .arrow {
  transform: rotate(180deg);
}

ul.nav-list li.active .children-list {
  display: block;
}

ul.nav-list li.active > a {
  color: var(--vt-color-primary);
}

ul.nav-list li .children-list {
  display: none;
}

ul.nav-list li .children-list li {
  padding-left: 20px;
}

ul.nav-list li a:hover,
ul.nav-list li .children-list li:hover {
  background-color: var(--vt-bg-color-hover);
  border-radius: var(--vt-border-radius);
}

.app-menu.show {
  display: block;
}

.app-menu .menu-toggle-button {
  display: none;
}

@media only screen and (min-width: 900px) {
  .side-menu {
    height: calc(100vh - 50px);
  }
}
