html,
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei UI", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  background-color: var(--vt-bg-color);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--vt-text-color);
}
