.nav-tabs {
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: block;
}
.nav-tabs:after {
  content: "";
  display: block;
  clear: both;
}
.nav-tabs li {
  float: left;
  margin-bottom: -1px;
  margin-right: 3px;
  position: relative;
  display: block;
}
.nav-tabs li a {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: var(--vt-border-radius) 0 0;
}
.nav-tabs li.active a {
  color: var(--vt-color-primary);
  cursor: default;
  background-color: #fff;
  border-bottom-color: transparent;
}
