.thumbnail-uploader {
  margin-bottom: 10px;
}
.thumbnail-uploader .thumbnail-image {
  margin-top: 8px;
}
.thumbnail-uploader .thumbnail-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-list-container {
  display: flex;
  align-items: flex-start;
}
.image-list-container > div {
  padding-top: 10px;
}
.image-list-container label {
  margin-top: 3px;
}
.image-list-container .image-item {
  clear: both;
  margin: 0px 0px 10px 0px;
  float: left;
  display: flex;
  align-items: center;
}
.image-list-container .image-item input {
  width: 260px;
  float: left;
  margin-right: 5px;
}
.image-list-container .image-item img {
  width: 34px;
  height: 34px;
  float: left;
  display: block;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 5px;
}
.image-list-container .image-item .btn {
  margin-right: 5px;
}
.image-list-container .image-btn-add {
  clear: both;
  float: left;
}
.image-list-container .image-btn-add i {
  font-size: 12px;
}

.file-upload-container {
  display: flex;
  align-items: flex-start;
}
.file-upload-container > div {
  padding-top: 10px;
}
.file-upload-container > div input {
  margin-top: 10px;
}
.file-upload-container label {
  margin-top: 3px;
}
.file-upload-container i {
  font-size: 12px;
}
.file-upload-container #preview-link {
  color: #7ba3fa;
  display: block;
  margin-top: 3px;
}
