:root {
  --vt-color-primary: #409eff;
  --vt-color-success: #4cd964;
  --vt-color-warning: #f0ad4e;
  --vt-color-error: #dd524d;
  --vt-font-size-sm: 13px;
  --vt-font-size-base: 16px;
  --vt-font-size-lg: 26px;
  --vt-text-color: #333;
  --vt-text-color-inverse: #fff;
  --vt-text-color-grey: #999;
  --vt-text-color-placeholder: #8c8c8c;
  --vt-text-color-disable: #c0c0c0;
  --vt-bg-color: #ecf0ef;
  --vt-bg-color-grey: #f1f1f1;
  --vt-bg-color-hover: #f1f1f1;
  --vt-bg-color-mask: rgba(34, 34, 34, 0.95);
  --vt-bg-color-card: #ffffff;
  --vt-border-radius: 4px;
  --vt-border-color: #dddddd;
  --vt-shadow-color: rgba(184, 184, 184, 0.5);
}

body.dark-mode {
  --vt-text-color: #b9b9b9;
  --vt-text-color-inverse: #333;
  --vt-text-color-grey: #999;
  --vt-text-color-placeholder: #808080;
  --vt-text-color-disable: #c0c0c0;
  --vt-bg-color: #2c2c2c;
  --vt-bg-color-grey: #5a5a5a;
  --vt-bg-color-hover: #424242;
  --vt-bg-color-mask: rgba(34, 34, 34, 0.95);
  --vt-bg-color-card: #272727;
  --vt-border-color: #6b6b6b;
  --vt-shadow-color: #181818;
}

body.dark-mode img {
  filter: brightness(70%);
}
body.dark-mode .logo {
  filter: brightness(200%);
}
