.side-menu{display: none;}

form{
  overflow: hidden;
}
.form-row {
  margin-bottom: 15px;
  clear: both;
  color: var(--vt-text-color);
  display: flex;
}
.form-row > label {
  display: inline-block;
  font-size: 14px;
  width: 130px;
  box-sizing: border-box;
  padding:6px 10px 0 0;
  flex-shrink: 0;
}
.form-row .form-widget {}
.form-row .form-widget label {
  display: inline-block;
  margin: 5px 20px 0 0;
}
.form-row .form-widget label input[type='radio']{
  position:relative;
  top: 1px;
}

.form-row > .btn{ margin-right: 8px;} 

.form-control {
  box-sizing: border-box;
  width: 100%;
  min-height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--vt-text-color);
  background-color: var(--vt-bg-color-card);
  background-image: none;
  border: 1px solid var(--vt-border-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.help-block {
  font-size: 13px;
  color: var(--vt-text-color);
  padding: 0;
  margin: 5px 0;
}
input:disabled{
  background-color: #e7e7e7;
}

.form-search{
  margin: 15px 0px 15px 0;
}
.form-search .form-control{
  margin-bottom: 5px;
}
.form-search .btn{
  margin-right: 5px;
}

/** 分类多选分类框 */
.checkbox-container {
  height: 150px;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--vt-bg-color-card);
  padding: 0px 0px;
  border-radius: 8px;
  border:1px solid var(--vt-border-color);
  box-sizing: border-box;
}
.checkbox-container label{
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  height: 30px;
  line-height: 30px;
  float: left;
  clear: both;
  user-select: none;
  padding: 0px 10px;
}
.checkbox-container label:hover{
  background-color: rgb(170, 170, 170);
}
.checkbox-container label input[type="checkbox"]{
  min-height: 16px;
  height: 16px;
  width: 16px;
}

.editor-container{
  background-color: var(--vt-bg-color-card);
}

/** tags 多选分类框 */
.tags-checkbox-container{
  display: flex;
  flex-wrap: wrap;
}
.tags-checkbox-container label{
  width: auto;
  margin: 5px 10px 0 0;
  font-size:12px;
  cursor: pointer;
}
.tags-checkbox-container label:hover{ color:var(--vt-color-primary); }
.tags-checkbox-container label input[type='checkbox']{
  position:relative;
  top:2px;
}

@media screen and (min-width:900px) {
  .form-search{
    margin: 15px 0px 15px 0;
    display: flex;
    .form-control{
      width: 200px;
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }
}
